# Production environment Django app settings and credentials
# ------------------------------------------------------------------------------
# General
MODE=prod
DJANGO_DEBUG=0
DJANGO_SECRET_KEY=WowSoSecret # Change the value
DJANGO_ALLOWED_HOSTS=* # Enter your domain name with leading dot: .yourdomain.com
